# DON'T RUN

# Working with files

## Excel Files

In [ ]:
import pandas as pd

In [ ]:
file = pd.read_excel("/content/sample_excel.xlsx")
print(file)

   No.  fruits
0    1   apple
1    2  orange
2    3    kiwi
3    4   grape
4    5   berry

## XML Files

In [ ]:
import xml.etree.ElementTree as ET
mytree = ET.parse("/content/books_sample_xml.xml")
myroot = mytree.getroot()                                                                                                                                                                                              
print(myroot)

<Element 'catalog' at 0x7fec4c0a4c20>

In [ ]:
print(myroot[1].text)

## JSON Files

### with direct content

In [ ]:
import json
person = '{"name":"Bob","languages":["English","French"]}'
person_dict = json.loads(person)

In [ ]:
print(person_dict)

{'name': 'Bob', 'languages': ['English', 'French']}

In [ ]:
print(person_dict['languages'])

['English', 'French']

In [ ]:
print(person_dict['name'])

Bob

### with json file

In [ ]:
import json
with open('/content/example_2.json', 'r') as my_json_file:
  data = json.load(my_json_file)

In [ ]:
print(data)

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}}

## CSV File

In [ ]:
csv_file = pd.read_csv("/content/rainfall.csv")
print(csv_file.head())

                 SUBDIVISION  YEAR   JAN    FEB   MAR    APR    MAY    JUN  \
0  ANDAMAN & NICOBAR ISLANDS  1901  49.2   87.1  29.2    2.3  528.8  517.5
1  ANDAMAN & NICOBAR ISLANDS  1902   0.0  159.8  12.2    0.0  446.1  537.1
2  ANDAMAN & NICOBAR ISLANDS  1903  12.7  144.0   0.0    1.0  235.1  479.9
3  ANDAMAN & NICOBAR ISLANDS  1904   9.4   14.7   0.0  202.4  304.5  495.1
4  ANDAMAN & NICOBAR ISLANDS  1905   1.3    0.0   3.3   26.9  279.5  628.7

     JUL    AUG    SEP    OCT    NOV    DEC  ANNUAL  Jan-Feb  Mar-May  \
0  365.1  481.1  332.6  388.5  558.2   33.6  3373.2    136.3    560.3
1  228.9  753.7  666.2  197.2  359.0  160.5  3520.7    159.8    458.3
2  728.4  326.7  339.0  181.2  284.4  225.0  2957.4    156.7    236.1
3  502.0  160.1  820.4  222.2  308.7   40.1  3079.6     24.1    506.9
4  368.7  330.5  297.0  260.7   25.4  344.7  2566.7      1.3    309.7

   Jun-Sep  Oct-Dec
0   1696.3    980.3
1   2185.9    716.7
2   1874.0    690.6
3   1977.6    571.0
4   1624.9    630.8

In [ ]:
file2 = pd.read_csv("/content/sample_data/sample_csv.csv")

In [ ]:
print(file2.head())

   No.  fruits
0    1   apple
1    2  orange
2    3    kiwi
3    4   grape
4    5   berry